!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Keppler Front Project
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
  %body
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/main.js"}
